---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
// import Projects from '../components/Projects.astro';
// import Writing from '../components/Writing.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <!-- <Projects /> -->
    <!-- <Writing /> -->
  </main>
  <Footer />
</Layout>
